### Téléchargement et chargement des données

In [1]:
from bireport.data.data_loader import load_data

/home/goamegah/Documents/workspace/develop/esgi/4a/s2/reporting/dataset

In [2]:
df_2023 = load_data(2023)
df_2022 = load_data(2022)
df_2021 = load_data(2021)
df_2020 = load_data(2020)
df_2019 = load_data(2019)

Already downloaded: 104dbb32-704f-4e99-a71e-43563cb604f2.csv
Already downloaded: 8bef19bf-a5e4-46b3-b5f9-a145da4686bc.csv
Already downloaded: 146a42f5-19f0-4b3e-a887-5cd8fbef057b.csv
Already downloaded: 68848e2a-28dd-4efc-9d5f-d512f7dbe66f.csv
Already downloaded: 5fc299c0-4598-4c29-b74c-6a67b0cc27e7.csv
Already downloaded: a6ef711a-1f03-44cb-921a-0ce8ec975995.csv
Already downloaded: c9742921-4427-41e5-81bc-f13af8bc31a0.csv
Already downloaded: 62c20524-d442-46f5-bfd8-982c59763ec8.csv
Downloading 85cfdc0c-23e4-4674-9bcd-79a970d7269b.csv...
Downloading 8a4935aa-38cd-43af-bf10-0209d6d17434.csv...
Downloading 0bb5953a-25d8-46f8-8c25-b5c2f5ba905e.csv...
Downloading ba5a1956-7e82-41b7-a602-89d7dd484d7a.csv...
Downloading 07a88205-83c1-4123-a993-cba5331e8ae0.csv...
Downloading e85c41f7-d4ea-4faf-877f-ab69a620ce21.csv...
Downloading a66be22f-c346-49af-b196-71df24702250.csv...
Downloading 78c45763-d170-4d51-a881-e3147802d7ee.csv...
Downloading e22ba475-45a3-46ac-a0f7-9ca9ed1e283a.csv...
Downloading 2ad65965-36a1-4452-9c08-61a6c874e3e6.csv...
Downloading 780cd335-5048-4bd6-a841-105b44eb2667.csv...
Downloading 36b1b7b3-84b4-4901-9163-59ae8a9e3028.csv...

In [3]:
df_2022.columns

Index(['num_acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg',
       'int', 'atm', 'col', 'adr', 'lat', 'long', 'catr', 'voie', 'v1', 'v2',
       'circ', 'nbv', 'vosp', 'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout',
       'surf', 'infra', 'situ', 'vma', 'id_vehicule', 'num_veh_x', 'senc',
       'catv', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc', 'id_usager',
       'num_veh_y', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet',
       'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp', 'zone'],
      dtype='object')

In [4]:
df_2023.columns

Index(['num_acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep', 'com', 'agg',
       'int', 'atm', 'col', 'adr', 'lat', 'long', 'catr', 'voie', 'v1', 'v2',
       'circ', 'nbv', 'vosp', 'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout',
       'surf', 'infra', 'situ', 'vma', 'id_vehicule', 'num_veh_x', 'senc',
       'catv', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc', 'id_usager',
       'num_veh_y', 'place', 'catu', 'grav', 'sexe', 'an_nais', 'trajet',
       'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp', 'zone'],
      dtype='object')

### Nettoyage

In [5]:
from  bireport.data.data_cleaning import clean_dataset

In [6]:
df_2022_clean = clean_dataset(df_2022)
df_2023_clean = clean_dataset(df_2023)

In [7]:
df_2023_clean

,num_acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,trajet,secu1,secu2,secu3,locp,actp,etatp,zone,heure,minute
0,202300000001,7,5,2023,0600,1,75,75101,2,4,...,5.0,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,6,0
1,202300000001,7,5,2023,0600,1,75,75101,2,4,...,5.0,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,6,0
2,202300000002,7,5,2023,0530,5,94,94080,2,1,...,9.0,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,5,30
3,202300000002,7,5,2023,0530,5,94,94080,2,1,...,9.0,<NA>,<NA>,<NA>,2.0,3,1.0,Métropole,5,30
4,202300000003,7,5,2023,2050,1,94,94022,2,3,...,<NA>,2.0,6.0,<NA>,<NA>,<NA>,<NA>,Métropole,20,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163729,202300054821,26,10,2023,1720,1,973,97302,1,6,...,1.0,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,Outre-Mer,17,20
163730,202300054821,26,10,2023,1720,1,973,97302,1,6,...,1.0,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,Outre-Mer,17,20
163731,202300054822,20,10,2023,1630,1,69,69387,2,1,...,2.0,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,16,30
163732,202300054822,20,10,2023,1630,1,69,69387,2,1,...,1.0,1.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,16,30
163733,202300054822,20,10,2023,1630,1,69,69387,2,1,...,1.0,2.0,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,16,30

In [8]:
df_2022_clean

,num_acc,jour,mois,an,hrmn,lum,dep,com,agg,int,...,trajet,secu1,secu2,secu3,locp,actp,etatp,zone,heure,minute
0,202200000001,19,10,2022,1615,1,26,26198,2,3,...,5,2,8,<NA>,<NA>,<NA>,<NA>,Métropole,16,15
1,202200000001,19,10,2022,1615,1,26,26198,2,3,...,5,1,8,<NA>,<NA>,<NA>,<NA>,Métropole,16,15
2,202200000002,20,10,2022,0834,1,25,25204,2,3,...,9,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,8,34
3,202200000002,20,10,2022,0834,1,25,25204,2,3,...,4,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,8,34
4,202200000003,20,10,2022,1715,1,22,22360,2,6,...,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,17,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126657,202200055301,1,1,2022,0840,1,81,81099,1,3,...,5,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,8,40
126658,202200055301,1,1,2022,0840,1,81,81099,1,3,...,5,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,8,40
126659,202200055301,1,1,2022,0840,1,81,81099,1,3,...,5,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,8,40
126660,202200055302,1,3,2022,1655,1,41,41018,2,1,...,1,2,6,<NA>,<NA>,<NA>,<NA>,Métropole,16,55
126661,202200055302,1,3,2022,1655,1,41,41018,2,1,...,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,Métropole,16,55

### Fusionner les années

In [9]:
from bireport.data.data_loader import merge_years

In [10]:
df_all = merge_years([df_2022_clean, df_2023_clean])

### Annotations

In [11]:
from bireport.data.data_annotation import annotate_columns

In [12]:
df_all_annotated = annotate_columns(df_all)

### 5. Analyse exploratoire rapide (EDA)

In [13]:
# df_all_annotated

In [14]:
df_all_annotated['grav'].value_counts()

grav
1.0    124492
4.0    114908
3.0     43117
2.0      7431
Name: count, dtype: Int64

In [15]:
df_all_annotated['sexe'].value_counts()

sexe
1.0    193938
2.0     90386
Name: count, dtype: Int64

In [16]:
df_all_annotated['catv_label'].value_counts()

catv_label
Voiture légère (VL)          180489
Véhicule utilitaire léger     20461
Moto >125cm3                  19410
Bicyclette                    13620
Cyclomoteur <50cm3             9120
Scooter <50cm3                 7076
EDP à moteur                   6466
Scooter 50-125cm3              5454
Moto 50-125cm3                 4359
Autobus                        3074
Scooter >125cm3                2633
VAE                            2039
Voiturette                     1608
Autocar                        1422
Autre véhicule                 1287
EDP sans moteur                 591
Quad lourd                      538
Quad léger                       83
Name: count, dtype: int64

In [17]:
df_all_annotated['catv_label'].value_counts()

catv_label
Voiture légère (VL)          180489
Véhicule utilitaire léger     20461
Moto >125cm3                  19410
Bicyclette                    13620
Cyclomoteur <50cm3             9120
Scooter <50cm3                 7076
EDP à moteur                   6466
Scooter 50-125cm3              5454
Moto 50-125cm3                 4359
Autobus                        3074
Scooter >125cm3                2633
VAE                            2039
Voiturette                     1608
Autocar                        1422
Autre véhicule                 1287
EDP sans moteur                 591
Quad lourd                      538
Quad léger                       83
Name: count, dtype: int64